<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @reply.string %>
</p>

<p>
  <strong>References:</strong>
  <%= @reply.references %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
