<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @feedback.string %>
</p>

<p>
  <strong>References:</strong>
  <%= @feedback.references %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
